<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>My Website - About</title>
         <link rel="stylesheet" href="/static/css/app.css">
         <style type="text/css">
             body{
                 padding: 3em;
             }
             h1, p{
                 text-align: center;
             }
             img{
                 border-radius: 50%;
                 position: relative;
                 left: 50%;
                 transform: translate(-50%, 0);
                 margin-bottom: 2em;
             }
         </style>
    </head>
    <body>
        <h1>Michael Calloo</h1>
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAoJAAAAJGU3N2I1OWI3LTM0ODgtNDRlYS1iMzFjLTk0NGRlNTJkNmYyOQ.jpg">
        <p>Michael Calloo is humble, yet progressive. Give thanks to God for a 4.0 GPA last semester<br>
        and aiming for the 4.3 this semester</p>
    </body>
</html>